#bar {
    background-color: aquamarine;
}

#bar li a {
	display: block;
    font-size: 150%;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
    margin: 5px 5px;
    
}

li a:hover {
	background-color: #111;
}


div#welcome {
	background-image: url('../assets/likemeat-CbNAuxSZTFo-unsplash.jpg');
	padding: 205px 300px;
	background-size: cover;
	background-repeat: no-repeat;
}

div#welcome h1 {
	text-align: center;
	/* color:darkturquoise; */
    color: white;
}

div#welcome p {
	text-align: center;
	color: white;
}